<p-toast></p-toast>
<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines mt-3">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between gap-1">
            <div>
                <p class="text-xl font-light"> User Lists</p>
            </div>
            <div class="flex flex-column md:flex-row gap-1">
                <p-button routerLink="/users/new" icon="pi pi-plus" label="Add User" ></p-button>
                <p-button routerLink="/assign-pic" label="PIC ASSIGNMENT LIST"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th scope="col">No. </th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Company</th>
            <th scope="col">Role</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-u let-i="rowIndex">
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{u.name}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.address}}</td>
            <td>{{u.companyName}}</td>
            <td>{{u.roleName}}</td>
        </tr>
    </ng-template>
</p-table>