<div class="flex flex-column justify-content-center pl-2 md:pl-6 pr-2">
    <p class="text-5xl">Change Password</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="grid">
            <div class="md:col-2 col-3">
                <label for="old-password" class="form-label">Old Password <span class="text-danger">*</span></label>
            </div>
            <div class="md:col-10 col-9">
                <p-password formControlName="oldPassword" [toggleMask]="true" [feedback]="false"
                    inputStyleClass="w-full"
                    styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"></p-password>
            </div>
            <div class="md:col-2 col-3">
                <label for="new-password" class="form-label">New Password <span class="text-danger">*</span></label>
            </div>
            <div class="md:col-10 col-9">
                <p-password formControlName="newPassword" [toggleMask]="true" [feedback]="true" inputStyleClass="w-full"
                    styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"></p-password>
            </div>
            <div class="md:col-2 col-3">
                <label for="confirm-password" class="form-label">Confirm New Password <span
                        class="text-danger">*</span></label>
            </div>
            <div class="md:col-10 col-9">
                <p-password formControlName="confirmNewPassword" [toggleMask]="true" [feedback]="false"
                    inputStyleClass="w-full"
                    styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"></p-password>
            </div>

        </div>
        <app-button [loading]="loading" label="SAVE" btnType="submit"></app-button>
    </form>
</div>